{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block body %} 
<div class="p-3 mb-2 bg-dark text-white">
<div class="jumbotron">
    <div class="container">
      <h1 class="display-3 font-bold text-dark">Flight Management System!</h1>
      <p class="text-dark">We are final year student of East West University.This website is made for our educational purpose by the instruction of our honarable faculty Md. Mohsin Uddin </p>
      <p><a href="https://scholar.google.com/citations?user=noKEykEAAAAJ&hl=en&oi=ao" class="btn btn-primary btn-lg" href="#" role="button">Learn more about faculty &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
     
    
      <div class="col-md-4">
        <img src="/static/img/nishuti.jpg" class="img-fluid"  alt="...">
        <h2>Tasnim Khan Nishuti</h2>
        <p>Id: 2017-1-60-041 </p>
        <a href="https://www.facebook.com/nishuti.khan" class="btn btn-info my-2 my-sm-0" style="background-color: #399173;"
            type="submit">Contact</a>
        
      </div>
      <div class="col-md-4">
        <img src="/static/img/noorhot.jpg" class="img-fluid" alt="...">
        <h2>Md.Farhaduzzaman</h2>
        <p>Id: 2017-1-60-128 </p>
        <a href="https://www.facebook.com/alnoor007" class="btn btn-info my-2 my-sm-0" style="background-color: #399173;"
            type="submit">Contact</a>
        
      </div>
      <div class="col-md-4">
        <img src="\static\img\saba.jpg" class="d-block w-100" alt="..."> 
        <h2>Md.Fahim Sabab Siyam</h2>
        <p>Id: 2017-1-60-142 </p>
        <a href="https://www.facebook.com/fahim.sabab142" class="btn btn-info my-2 my-sm-0" style="background-color: #399173;"
            type="submit">Contact</a>
        
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script></body>
</html>
{% endblock body %}