{% extends 'base.html' %}
{% block title %}Airport Service{% endblock title %}
{% block body %} 
<div class="p-3 mb-2 bg-dark text-white">
<center>
    <h2 class="my-4">Allow us to assist you with your travel needs.<h2>
</center>
    <div class="card-body">
<p class="para-gap">
Drogo Airlines staff are trained to provide quick and efficient check-in. If your travel takes you through Dhaka for a connecting flight, you will be met by representatives to assist you with flight connections upon arrival. If passengers require any special assistance to their departure gates, we will be happy to escort you to the gate.
</p>
<p class="para-gap">
Please contact your departure airport or a local Drogo Airlines office during reconfirmation to check if check-in times materially differ from our suggested three hours.
</p>
    <img src="/static/img/8.jpeg" class="b-block w-100" alt="...">

<div>
<div class="add_bottom_45 accordion_2">
<div class="card my-4">
<div class="card-header">
<h5 class="mb-0 text-dark">
CHECK IN
</h5>
</div>
<div id="collapseOne_reccomendations">
<div class="card-body">
<div class="row" style="margin:25px 0px;">
<div class="col-sm-8">
<div class="seating-group">
<h6 class="text-dark"><strong>Airport Terminal Directory</strong></h6>
<p class="text-dark">
Plan ahead for your flight, and check in advance the Terminal for your Biman Flight. View <a href="/terminal">Airport Terminal Directory</a>
</p>
<h6 class="text-dark"><strong>Tips to help speed your way through Airport formalities</strong></h6>
<ol>
 <li class="text-dark">Report to the Biman Bangladesh Airlines check-in counter on-time</li>
<li class="text-dark">Keep your ticket, passport and visa documents handy</li>
<li class="text-dark">Proceed to the security check point; ensure you are not bringing any prohibited items with you</li>
<li class="text-dark">Keep your passport and boarding pass readily available when entering passenger boarding lounge</li>
</ol>
<h6 class="text-dark"><strong>Check-in counter closes one hour prior to departure</strong></h6>
<p class="text-dark">
It is important that you arrive at check-in for your flight On-time. Check-in closes one hour before departure. The boarding gate normally closes 20 minutes prior to departure. This could vary depending on your departure airport.
</p>
<h6 class="text-dark"><strong>TRAVEL TIP - Always keep your documents handy</strong></h6>
<p class="text-dark">
Double check that you have your passport, tickets and all other necessary documents with you before you leave home to embark on your journey.
</p>
</div>
</div>

<div class="col-sm-4">
<div class="box_grid">
<figure>
<a class="grid_item">
<img src="/static/img/ac.jpg" class="img-fluid" alt="">
</a>
</figure>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div>
<div class="add_bottom_45 accordion_2">
<div class="card">
<div class="card-header">
<h5 class="mb-0 text-dark">
Airport Lounges
</h5>
</div>
<div id="collapseOne_reccomendations">
<div class="card-body">
<div class="row" style="margin:25px 0px;">
<div class="col-sm-8">
<div class="seating-group">
<p class="text-dark">Lounge access is available for Drogo Business Class Passengers and also Gold & Silver Card members. The Maslin Lounge, is located on 2nd floor of Hazrat Shahjalal International Airport. Biman Business Class passengers also have access to airport lounges around the world.</p>
<p><a href="/lounge">View all International Airport Lounges</a></p>
</div>
</div>
<div class="col-sm-4">
<div class="box_grid">
<figure>
<a class="grid_item">
<img src="/static/img/ail.jpg" class="img-fluid" alt="">
</a>
</figure>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div>
<div class="add_bottom_45 accordion_2">
<div class="card my-4">
<div class="card-header ">
<h5 class="mb-0 text-dark">
Unaccompanied Minor
</h5>
</div>
<div id="collapseOne_reccomendations">
<div class="card-body">
<div class="row" style="margin:25px 0px;">
<div class="col-sm-8">
<div class="seating-group">
<p class="text-dark">Handling Facilities for Unaccompanied Minor is available both at arrivals and departures with prior request during reservation and fulfillment of traveling conditions.</p>
</div>
</div>
<div class="col-sm-4">
<div class="box_grid">
<figure>
<a class="grid_item">
<img src="/static/img/info.jpg" class="img-fluid" alt="">
</a>
</figure>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div>
<div class="add_bottom_45 accordion_2">
<div class="card">
<div class="card-header">
<h5 class="mb-0 text-dark">
Transit Passengers
</h5>
</div>
<div id="collapseOne_reccomendations">
<div class="card-body">
<div class="row" style="margin:25px 0px;">
<div class="col-sm-8">
<div class="seating-group">
<p class="text-dark">A dedicated desk for transit/transfer passengers is available round the clock for Drogo & Customer Airlines at Hazrat Shahjalal International Airport.</p>
</div>
</div>
<div class="col-sm-4">
<div class="box_grid">
<figure>
<a class="grid_item">
<img src="/static/img/delay.jpg" class="img-fluid" alt="">
</a>
</figure>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock body %}

