{% extends 'base.html' %}
{% block title %}Cargo{% endblock title %}
{% block body %}
<div class="p-3 mb-2 bg-dark text-dark">
<div id="content_wrapper">
<div class="full_width destinaion_sorting_section margin-top-xs">
<div class="container">
<div class="main-content">
<div>
<div class="add_bottom_45 accordion_2">
<div class="card my-4">
<div class="card-header">
<h5 class="mb-0">
<a> Drogo Airlines provides cargo services worldwide. For more information please contact our cargo handling offices.</a>
</h5>
</div>
<div class="card-body" style="padding-bottom:20px;">
<img style="width:100%" src="/static/img/car.jpg">
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock body %}