{% extends 'base.html' %}
{% block title %}Ground Handeling{% endblock title %}
{% block body %}
<div class="p-3 mb-2 bg-dark text-dark">
<div id="content_wrapper">
<div class="full_width destinaion_sorting_section margin-top-xs">
<div class="container">
<div class="main-content">
<div>
<div class="add_bottom_45 accordion_2">
<div class="card my-4">
<div id="collapseOne_reccomendations">
<div class="card-header">
<h5 class="mb-0">
Drogo Airlines offers premium Ground Handling services for all airlines flying to any location within Bangladesh.
</h5>
</div>
<div class="card-body">
<p>
Drogo Airlines provides Ground Handling facilities to all the Airports in Bangladesh. It is approved by the regulatory body, Civil Aviation of Bangladesh, as the sole Ground Handler in Bangladesh to handle all foreign carriers flights operating on commercial basis. It has sufficient ground handling equipments and experienced manpower to handle all type of aircraft.
</p>
<p>
All schedule/non-schedule operators may contact with the following address to get the latest information/changes relating to Ground Handling at any Airport in Bangladesh.
</p>
<div class="col-md-12 pull-right">
<div class="box_grid">
<figure style="height:250px">
<a class="grid_item">
<img src="/static/img/gr.jpg" class="img-fluid" alt="">
</a>
</figure>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div>
<div class="add_bottom_45 accordion_2">
<div class="card">
<div class="card-header">
<h5 class="mb-0">
Contact Details
</h5>
</div>
<div id="collapseOne_reccomendations">
<div class="card-body">
<h6><strong>Contact for Scheduled Carrier</strong></h6>
<ol>
<li>Deputy General Manager</li>
<li>Ground Service.</li>
<li>2nd Floor, Administration Building,</li>
<li>Hazrat Shahjalal International Airport, Dhaka.</li>
<li>Phone: (0088) 02 8901303 (Direct)</li>
<li>PABX: 8901500-19 Ext:- 2302/2304/2352</li>
<li>Fax: 882 8901533</li>
<li>SITA: DACCZBG, DACCYBG</li>

</ol>
<h6><strong>Contact for Non Scheduled Carrier</strong></h6>
<ol>
<li>Manager Foreign Carrier Handling Unit (FCHU)</li>
<li>Room # 39 (2nd Floor), Terminal # 01</li>
<li>HSIA, Dhaka</li>
<li>Phone: (0088) 02 8901548/8901529 (Direct)</li>
<li>PABX: 8901500-19 Ext: 2908, 2898, 2883, 2900.</li>
<li>Fax: 882 8901632/8901391</li>
<li>SITA: DACKUBG, DACKKBG, DACKWBG</li>

</ol>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock body %}