{% extends "base.html" %}

{% block body %}


<script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
<style>
	body { margin: 0; padding: 0; }
	#map { position: absolute; top: 70px; bottom: 0; width: 100%; }
</style>
</head>
<body>
<div id="map"></div>
<script>
	mapboxgl.accessToken = 'pk.eyJ1IjoicnlhbjE0MyIsImEiOiJja2V2anZkZG8xem44MnB0OHNod3oyNXc5In0.DptohQkEMkrpxJkYJymSVg';
var map = new mapboxgl.Map({
container: 'map', // container id
style: 'mapbox://styles/mapbox/streets-v11',
zoom: 16,
center: [90.4256, 23.7684]
});
 
// Add zoom and rotation controls to the map.
map.addControl(new mapboxgl.NavigationControl());
</script>


{% endblock body %}