{% extends 'base.html' %}
{% block title %}Medical Service{% endblock title %}
{% block body %}
<div id="content_wrapper">
<div class="full_width destinaion_sorting_section margin-top-xs">
<div class="container">
<div class="main-content">
<div>
<div class="add_bottom_45 accordion_2">
<div class="card my-4">
<div class="card-header">
<h5 class="mb-0">
Download Medical Certificate
</h5>
</div>
<div id="collapseOne_reccomendations">
<div class="card-body">
<p>
Drogo Airlines provides Medical services for according to your health. For getting this service you have to fillup this form.
</p>

<center>
    <a id="retrive-btn" class="btn btn-warning" data-style="zoom-in" href="/static/img/med.pdf" download target="_blank">Download</a>
</center>

<div class="col-sm-4 pull-right">
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock body %}