{% extends 'base.html' %}
{% block title %}Private Jet{% endblock title %}
{% block body %}
<div class="p-3 mb-2 bg-dark text-dark">
<div id="content_wrapper">
<div class="full_width destinaion_sorting_section margin-top-xs">
<div class="container">
<div class="main-content">
<div>
<div class="add_bottom_45 accordion_2">
<div class="card my-4">
<div id="collapseOne_reccomendations">
<div class="card-header">
<h5 class="mb-0">
Drogo Airlines offers private jet for your private flying.
</h5>
</div>
<div class="card-body">
<p>
Drogo Airlines provides the First class service of private aircraft. The outlook and the interios of our private jet is mind blowing.
</p>


<img src="/static/img/pri.jpg" class="img-fluid" alt="">

</div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>
</div>
{% endblock body %}