{% extends 'base.html' %}
{% block title %}Airport Terminal Service{% endblock title %}
{% block body %}
<div class="p-3 mb-2 bg-dark text-white">
<div id="content_wrapper">
<div class="full_width destinaion_sorting_section margin-top-xs">
<div class="container">
<div class="main-content">
<div>
<div class="add_bottom_45 accordion_2">
<div class="card my-4">
<div class="card-header">
<h5 class="mb-0 text-dark">
Airport Terminal Directory
</h5>
</div>
<div id="collapseOne_reccomendations">
<div class="card-body">
<table class="table table-bordered table-hover">
<tbody>
<tr>
<td><b>City</b></td>
<td>
<b>
Airport<br>
</b>
</td>
<td><b>Terminal</b></td>
</tr>
<tr>
<td>Abudhabi</td>
<td>
Abudhabi International
Airport
</td>
<td>Terminal-2</td>
</tr>
<tr>
<td>Bangkok</td>
<td>
Suvarnabhumi
Airport
</td>
<td>
No Terminal IDS
</td>
</tr>
<tr>
<td>Dammam</td>
<td>
King Fahad
International Airport
</td>
<td>
No Terminal
IDS
</td>
</tr>
<tr>
<td>Delhi</td>
<td>
Indiragandhi
International Airport
</td>
<td>Terminal-3</td>
</tr>
<tr>
<td>Dhaka </td>
<td>
Hazrat Shahjalal
International Airport
</td>
<td>Terminal-2</td>
</tr>
<tr>
<td>Doha</td>
<td>
Doha International
Airport
</td>
<td>Terminal-2</td>
</tr>
<tr>
<td>Dubai</td>
<td>
Dubai International
Airport
</td>
<td>Terminal-1</td>
</tr>
<tr>
<td>Hong Kong </td>
<td>
Hong Kong
International Airport
</td>
<td>Terminal-1</td>
</tr>
<tr>
<td>Jeddah</td>
<td>
King Abdul
Aziz International Airport
</td>
<td>Terminal-N</td>
</tr>
<tr>
<td>Kathmandu</td>
<td>
Tribhuban
International Airport
</td>
<td>
No Terminal
IDS
</td>
</tr>
<tr>
<td>Kolkata</td>
<td>
NSCB International
Airport
</td>
<td>
No Terminal
IDS
</td>
</tr>
<tr>
<td>Kuala Lumpur </td>
<td>KL International Airport</td>
<td>Terminal-M</td>
</tr>
<tr>
<td>Kuwait</td>
<td>
Kuwait International
Airport
</td>
<td>Terminal-M</td>
</tr>
<tr>
<td>London</td>
<td>Heathrow Airport</td>
<td>Terminal-4</td>
</tr>
<tr>
<td>Muscat</td>
<td>
Muscat International
Airport
</td>
<td>
No Terminal
IDS
</td>
</tr>
<tr>
<td>Riyadh</td>
<td>
King Khaled
International Airport
</td>
<td>Terminal-1</td>
</tr>
<tr>
<td>Rome</td>
<td>
Fiumicino
Airport
</td>
<td>Terminal-3</td>
</tr>
<tr>
<td>Singapore</td>
<td>
Changi International
Airport
</td>
<td>
Terminal-1
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock body %}